*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.gz
*.synctex.gz

*.DS_Store
*.swp
*.swo

# problem 2
Assignments/Assignment_2/problem2/playfair_solver
Assignments/Assignment_2/problem2/playfair_solver.dSYM
Assignments/Assignment_2/problem2/results.txt
Assignments/Assignment_2/problem2/tetragram_builder
Assignments/Assignment_2/problem2/tetragram_builder.dSYM
